extends ../layouts/application.pug

block content
  .row.mb-n5
    .col-auto.mr-auto.ml-5
      .bg-dark
        .card.border-0
          .card-body
            h1.display-4 менеджер задач
  .jumbotron.mb-n5
    p.lead.mt-4 учебный проект в рамках профессии 
      |
      a.text-nowrap(href='https://ru.hexlet.io/professions/backend', target='_blank') node.js-програмист
    p на образовательной платформе 
        |
        a(href='https://ru.hexlet.io', target='_blank') Хекслет
  .row.mt-n5
    .col-auto.ml-auto.mr-5
      .bg-dark
        .card.border-0
          .card-body
              h4.card-title реализованные возможности
              ul.list-group.list-group-flush
                - 
                  const features = [
                    'регистрация пользователя',
                    'аутентификация',
                    'управление задачами',
                    'фильтрация задач',
                  ]
                each feature in features
                  li.list-group-item
                    .custom-control.custom-checkbox
                      input.custom-control-input(type='checkbox', id='customCheck2', disabled='', checked='')
                      label.custom-control-label(for='customCheck2')= feature
